@{
}
<h1>Aday Profilleri</h1>

<div class="candidate-profile">
    <h3>@ViewBag.AdayAd1</h3>
    <p><strong>Email:</strong> @ViewBag.AdayEmail1</p>
    <p><strong>Başvurulan Pozisyon:</strong> @ViewBag.AdayPozisyon1</p>
    <hr />
</div>

<div class="candidate-profile">
    <h3>@ViewBag.AdayAd2</h3>
    <p><strong>Email:</strong> @ViewBag.AdayEmail2</p>
    <p><strong>Başvurulan Pozisyon:</strong> @ViewBag.AdayPozisyon2</p>
    <hr />
</div>