@{
}

<h1>İŞ LİSTESİ</h1>

<div class="iş-listeleme">
    <h3>@ViewBag.Isbaslık1</h3>
    <p><strong>Şirket:</strong> @ViewBag.Sirket1</p>
    <p><strong>Açıklama:</strong> @ViewBag.Isdetay1</p>
    <hr />
</div>

<div class="iş-listeleme">
    <h3>@ViewBag.Isbaslık2</h3>
    <p><strong>Şirket:</strong> @ViewBag.Sirket2</p>
    <p><strong>Açıklama:</strong> @ViewBag.Isdetay2</p>
    <hr />
</div>